<%- include('../partials/header') %>
<div class="main-content">
    <h1>Welcome to the Socket Chat</h1>
    <p>Please log in or sign up to join the chat!</p>
    <div class="button-container">
        <a href="/login" class="action-button">Login</a>
        <a href="/signup" class="action-button">Sign Up</a>
    </div>
</div>
<%- include('../partials/footer') %>
